/* ==========================
   EDIFICIOS – ESPECÍFICO
========================== */

.today-special {
	padding: 40px 0;
}

.today-special .column--50-25 {
	margin-bottom: 25px;
}

.today-special__img {
	height: 220px;
	object-fit: cover;
	border-radius: 3px;
}

.today-special__title {
	margin-top: 8px;
	text-align: center;
	font-weight: 600;
}

/* Responsive */
@media (min-width: 768px) {
	.today-special .column--50-25 {
		width: 25%;
	}
}



