
.icon-mail:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
